<% @page_title = "Recommendations" %>
<h1>Recommendations</h1>

<ul class="recommendations">

<!-- 
 <tr>
	<th>Name</th>
	<th class="date">Last updated</th>
  </tr>
-->  

<% for recommendation in @recommendations %>
  <li><%= link_to h(recommendation.name), recommendation_path(recommendation) %></li>
   	<!--><td class="date"><%= recommendation.updated_at.to_s(:long) %></td>-->
<% end %>
</ul>

<br />

<p><%= link_to 'Add recommendation', new_recommendation_path %></p>