<% @page_title = @user.username %>
<%= title(@user.username)%>

<%
@activities = Array.new
@activities_time = Array.new

@recommendations.each do |recommendation|
  
  @activities << "Added " + link_to(h(recommendation.name), recommendation_path(recommendation)) + " " + time_ago_in_words(recommendation.created_at) +  " ago."
  @activities_time << recommendation.created_at
end

@descriptions.each do |description|

	@activities << "Edited the description for " + link_to(h(description.recommendation.name), recommendation_path(description.recommendation)) + " " + time_ago_in_words(description.created_at) + " ago."
  @activities_time << description.recommendation.created_at

 end 

@justifications.each do |justification|
	
  @activities << "Edited the justification for " + link_to(h(justification.recommendation.name), justification_recommendation_path(justification.recommendation)) + " " + time_ago_in_words(justification.created_at) + " ago."
  @activities_time << justification.recommendation.created_at

end
%>



<ul>
	<% @activities.each do |activity| %>
	
		<li><%= activity %></li>

	<% end%>


</ul>